*{
    margin:0px;
    padding:0px;
}
.clear{
    clear:both;
}
.header{
    width:1000px;
    height:159px;
    border:1px solid #ffffff;
    margin:0 auto;
}
.header .logo{
    width:244px;
    height:23px;
    border:1px solid #ffffff;
    margin-top:42px;
    margin-left:14px;
    float:left;
}
.header .search{
    width:227px;
    height:29px;
    margin-top:39px;
    margin-right:20px;
    float:right;
}
.header .search .h-s-f{
    width:227px;
    height:29px;
    margin-top:0px;
    margin-right:20px;
}
.header .nav{
    height: 59px;
    margin-top:33px;
    background:#2d2d2d;
}
.header .nav li{
    list-style: none;
    float: left;
    height: 59px;
    line-height:59px;
    width:123px;
    text-align: center;
    color:#ffffff;
    border:1px solid black;
}
.banner{
    width:1000px;
    height:463px;
    border:1px solid #ffffff;
    margin:0 auto;
}
.cantaniter{
    width:1000px;
    height:546px;
    border:1px solid #ffffff;
    margin:0 auto;
}
.cantaniter .c-top{
    width:1000px;
    height:241px;
}
.cantaniter .c-top .c-t-left{
    width: 500px;
    height: 241px;
    float:left;
    line-height: 20px;
}
.cantaniter .c-top .c-t-left h3{
    margin-top:37px;
    font-size: 16px;
    margin-left: 20px;
}
.cantaniter .c-top .c-t-left ul {
    margin-top:30px;
    margin-left:13px; 
    font-size: 14px;
    margin-left: 20px;
    color: #5a5a5a;
}
.cantaniter .c-top .c-t-center{
    width:240px;
    height:241px;
    float:left;
    line-height: 20px;
    background-color:#f1f1f1
}
.cantaniter .c-top .c-t-center h3 {
    margin-top:36px;
    margin-left:40px;
    font-size: 16px;
 }
.cantaniter .c-top .c-t-center  p {
    font-size:14px;
    margin-top:50px;
    margin-left:40px;
    margin:23px;
    color: #5a5a5a;
}
.cantaniter .c-top .c-t-right{
    width:258px;
    height:241px;
    float:left;
    background-color:#fbfbfb;
}
.cantaniter .c-top .c-t-right h3 {
    margin-top:37px;
    margin-left:24px;
    font-size: 16px;
}
.cantaniter .c-top .c-t-right p {
    margin-top:27px;
    margin-left:24px;
    font-size: 14px;
    color: #5a5a5a;
}
.cantaniter .c-botton{
    width:1000px;
    height:304px;
}
.cantaniter .c-botton h3{
    margin-top:30px;
    margin-left: 20px;
}
.cantaniter .c-botton .c-b-piclist{
    margin-top:18px;
    width:1000px;
    height:240px;
}
.c-b-p-1{
    float: left;
    width:250px;
    text-align: 18px;
    margin-left: 18px;
}
.c-b-p-1 p{
    margin-top: 19px;
    list-style: none;
    font-size: 14px;
    margin-right: 20px;
    color: #585858;
}
.c-b-p-2{
    float: left;
    width:250px;
    text-align: 18px;
}
.c-b-p-2 p{
    margin-top: 19px;
    list-style: none;
    font-size: 14px;
    margin-right: 20px;
    color: #585858;
}
.c-b-p-3{
    float: left;
    width:250px;
    text-align: 18px;
}
.c-b-p-3 p{
    margin-top: 19px;
    list-style: none;
    font-size: 14px;
    margin-right: 20px;
    color: #585858;
}
.c-b-p-4{
    float: left;
    width:210px;
    text-align: 0px;
    margin-right: 18px;
}
.c-b-p-4 p{
    margin-top: 19px;
    list-style: none;
    font-size: 14px;
    margin-right: 20px;
    color: #585858;
}
.footer{
    width:1000px;
    height:331px;
    border:1px solid #ffffff;
    margin:0 auto;
}
.footer .f-top{
    width:1000px;
    height:250px;
    background: #e5e5e5;
    overflow: hidden;
}
.f-t-left{
    width: 452px;
    height: 250px;
    list-style: none;
    float: left;
}
.f-t-left h3{
    margin-top: 31px;
    border: 1px solid #c1c1c1;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 452px;
    margin-left: 32px;
    color: #676767;
}
.f-t-left li{
    margin-top: 15px;
}
.f-t-l-1{
    float: left;
    list-style: none;
    margin-left: 25px;
    font-size: 14px;
    color: #777777;
}
.f-t-l-2{
    float: left;
    list-style: none;
    margin-left: 35px;
    font-size: 14px;
    color: #777777;
}
.f-t-l-3{
    float: left;
    list-style: none;
    margin-left: 35px;
    font-size: 14px;
    color: #777777;
}
.f-t-center{
    width: 153px;
    list-style: none;
    margin-left:48px;
    float: left;
}
.f-t-center h3{
    font: left;
    border: 1px solid #c1c1c1;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 153px;
    margin-left: 20px;
    margin-top: 31px;
    color: #676767;
}
.f-t-center ul li{
    list-style: none;
    margin-top: 15px;
    margin-left: 32px;
    font-size: 14px;
    color: #777777;
}
.f-t-right{
    width: 153px;
    margin-left:52px;
    margin-right: 18px;
    float: left;
}
.f-t-right h3{
    margin-top: 31px;
    border: 1px solid #c1c1c1;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 255px;
    margin-right: 18px;
    color: #676767;
}
.footer .bottom .b-left{
    margin-top: 24px;
    margin-left: 22px;
    width: 270px;
    height: 81px;
    list-style: none;
    float: left;
}
.footer .bottom .b-left li{
    
    text-align: center;
    font-size: 12px;
    color: #868686;
    float: left;
    list-style: none;
}
.footer .bottom .b-center p{
    margin-top: 24px;
    margin-left: 50px;
    font-size: 12px;
    color: #868686;
    float: left;
}
.bottom img{
    margin-right: 1px;
    margin-top: 20px;
}